
#new-todo, .edit {
  width: 90%;
}

#header {
  position: relative;
}

#new-todo-button {
  position: absolute;
  top: 55px;
  z-index: 1000;
}

.row-button {
  position: absolute;
  top: 19px;
  right: 30px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  margin-bottom: 11px;
}

.text-muted {
  color: #777;
}

paper-dropdown-menu-light {
  width: 100%;
}

#todo-form-dropdown .label-is-floating label {
  margin-left: 0px;
  font-size: 16px;
}

#todo-form-dropdown label {
  margin-left: 60px;
  color: #999;
  font-size: 20px;
}